*{
   
    font-family: 'Montserrat', sans-serif;
}


.pad{
    padding-bottom:15px;
    padding-top:15px;
}

.bg-2{
     background-color:#ffffff;
     color: #301F0D;
}

td>.well{
    background-color:#ebe6e0;
    color:#301F0D;
}
.rounded-edges{
      border-radius:10px;
  }

#navbar-icon {
 margin-top:-15px; 
}
.navbar{
     margin-bottom:0;
     
}

.footer{
    position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
/*.footer>div{
    display:block;
}*/

.img-responsive{
    width:100%;
    height:15%;
}
.text-color-custom{
   color:#301F0D;      /* light brown*/
}

.bg-1{
    background-color:#baa691;
    color:#f5f2ef;
}




.text-color-custom-dark{
    color:#9d8062;
}
.container-fluid {
      padding-top: 40px;
      padding-bottom: 40px;
  }

 th, td {
    padding: 15px;
    text-align: left;
}


  .divStyle{
      border-radius :   5px;
      padding-bottom:  5%;
  }

  .margin {margin-bottom: 45px;}

  #map{
      width:100%;
      height:400px;
  }
  td>.well{
      background-color:#ebe6e0;
      color:#301F0D;
  }
  .bg-3{
      background-color:#ebe6e0;
      color:#301F0D;
  }
  .rounded-edges{
      border-radius:10px;
  }